{% extends 'base.html' %}
	{% block body %}
		<h1>Trailcam Data</h1>
		<hr>
		<h2>Deer</h2>
		<h3> <a href="/deer_all_stands" class="btn btn-primary">Deer All Stands Plot</a></h3>
		<h3> <a href="/deer_time_histogram" class="btn btn-primary">Time Histogram</a></h3>
		<h3> <a href="/deer_lunar_plot" class="btn btn-primary">Lunar Plot</a></h3>
		<hr>
		<h2>Hogs</h2>
		<h3> <a href="/hogs_all_stands" class="btn btn-primary">Hogs All Stands Plot</a></h3>
		<h3> <a href="/hogs_time_histogram" class="btn btn-primary">Time Histogram</a></h3>
		<h3> <a href="/hogs_lunar_plot" class="btn btn-primary">Lunar Plot</a></h3>
		<hr>
	{% endblock %}
